{% extends "cats/base.html" %} {% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="media content-section">
                <div class="media-body">
                    <p class="article-content"><img class="image" src="{{ cat.photo }}" alt="{{ cat.name }}"></p>
                    <h2><a class="article-title" href="#">{{ cat.name }}</a></h2>
                    <h4>
                        <b>Age:</b> {{ cat.age }}<br>
                        <b>Breed:</b> {{ cat.breed }}<br>
                        <b>Location:</b> {{ cat.latitude }}, {{ cat.longitude }}<br>
                        <b>Distance:</b> {{ cat.distance }}<br>
                        <b>Available:</b> {{ cat.available }}
                    </h4>
                </div>
            </article>
        </div>
    </div>
</main>

<p align="center">
    <iframe height=480 width=80% src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyD1VCRPNA6NCmy_CH72LmiexTlEjOaYNPA
    &origin=37.781975,-122.407448
    &destination={{ cat.latitude }},{{ cat.longitude }}" allowfullscreen>
     </iframe>
</p>

{% endblock content %}