{% extends "cats/base.html" %} {% block content %}
<center>
    <header>
        <img src="https://i.imgur.com/9hHiH87.png" alt="Companion Cats" class="logo-img" width=565 height=391>
    </header>

    <article class="media content-section">
        <div class="media-body">
            <section>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img src="https://i.imgur.com/GoAuqa7.png" alt="Find a Cat" class="header-img" width=576 height=360>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h1>Find a Cat</h1>
                            <h4>Find just the cat you're looking for! Cats can be filtered by age and breed.</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <section>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <img src="https://i.imgur.com/lVJtjMx.png" alt="All Cats" class="header-img" width=576 height=360>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h1>All Cats</h1>
                            <h4>Browse our entire collection of cats available. 1300+ cats located all over the San Francisco Bay Area!</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <section>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img src="https://i.imgur.com/SWwg0o9.png" alt="Borrow a Cat" class="header-img" width=576 height=360>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h1>Borrow a Cat</h1>
                            <h4>Once you've found the perfect cat for you, get directions and go pick it up!</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
</center>

{% endblock content %}