{% extends "cats/base.html" %} {% block content %}
<p align="center">
    <iframe height=480 width=80% src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCJilKY-oThuuPahQ1UIM3aSp6dYiFZOZ4
    &center=37.78197479248047,-122.4074478149414
    &zoom=15" allowfullscreen>
</iframe>
</p>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% for cat in cats %}

            <article class="media content-section">
                <div class="media-body">
                    <h2><a class="article-title" href="#">{{ cat.name }}</a></h2>
                    <p class="article-content"><img src="{{ cat.photo }}" alt="{{ cat.name }}"> {{ post.content }}{{ location }}</p>
                </div>
            </article>

            {% endfor %}
        </div>
    </div>
</main>

{% endblock content %}