body {
    background: #efebe5;
    color: #776464;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #776464;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #776464;
}

.site-header {
    font-family: 'Eczar', serif;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #fafafa;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #776464;
}

a.article-title:hover {
    color: #ff7e73;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.borrow {
    background-color: #ff7e73;
    border: none;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.borrow:hover {
    background-color: #776464;
}

.about {
    width: 350px;
    text-align: justify;
}

a:hover {
    text-decoration: none;
}

.about-img {
    border-radius: 50%;
}